TRS.sdf

TRS.opensdf

*.vcxproj.user
TRSLibrary/Debug/
Console/Release/
CreateExe/Release/
FoldersCreator/Release/
Release/
TRSLibrary/Release/
UnitTest/Release/
MFCTRSui/MFCTRSui.aps
UnitTest/Debug/
MFCTRSui/Timers.xml
TBox/TBox.pro.user
TRS.v12.suo
ipch/
Console/Debug/
Console/logs.txt
.gitattributes
tatus
build-TBox-Desktop_Qt_5_5_1_MinGW_32bit3-Debug/
TBox/DataBase
TBox/WebViewSessionTable.html
Report.html
*.log
*.user
*.aps
MFCTRSui/MFCTRSui.aps
MFCTRSui/Last Project.xml
Console/Logs
"MFCTRSui/Last Project.xml"