TRS.sdf

TRS.opensdf

*.vcxproj.user
TRSLibrary/Debug/
Console/Release/
CreateExe/Release/
FoldersCreator/Release/
Release/
TRSLibrary/Release/
UnitTest/Release/

UnitTest/Debug/

TRS.v12.suo
ipch/
Console/Debug/
Debug/
Console/logs.txt
.gitattributes
tatus

Report.html