#Start{

    display: inline-block;
    background-color: transparent;
    padding: 0;
    margin: 8px;
    vertical-align: top;
 	height: 20px;  
    width: 30px;
    margin-top: -10px;
    
}
#Start:hover{
    background-color:   #C0C0C0 ;
    border-radius:5px;
  transform: scale(1.2);
}

#Stop{
    display: inline-block;
    background-color: transparent;
    margin: 8px;
    padding: 0;
 	margin-right: 10px
    vertical-align: top;
 	height: 25px;  
    width: 30px;
    margin-top: -10px;
}
#Stop:hover{
    background-color:   #C0C0C0 ;
    border-radius:5px;
transform: scale(1.2);
}

#Pause{
  	margin: 8px;
    display: inline-block;
    background-color: transparent;
    padding: 0;
    vertical-align: top;
  	margin: 8px;
   	height: 25px;  
    width: 30px;
    margin-top: -10px;
}
#Pause:hover{
    background-color:   #C0C0C0 ;
    border-radius:5px;
transform: scale(1.2);
}

#Sync{
    display: inline-block;
    background-color: transparent;
    padding: 0;
    margin: 8px;
    vertical-align: top;
 	height: 25px;  
    width: 30px;
    margin-top: -10px;
}
#Sync:hover{
    background-color:   #C0C0C0 ;
    border-radius:5px;
transform: scale(1.2);
}
#TestName{
	font-size: 18px;
	color: #666666;
	background-color:#D1CDCC;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 35px;

}
#Start_Info:hover{
    background-color:   #C0C0C0 ;
    border-radius:5px;
transform: scale(1.2);
}
#Start_Info{
	display: inline-block;
    background-color: transparent;
    padding: 0;
    margin: 20px;
    vertical-align: top;
 	height: 25px;  
    width: 30px;
    margin-top: 5px;

}

#Pause_Info{
	display: inline-block;
    background-color: transparent;
    padding: 0;
    margin: 20px;
    vertical-align: top;
 	height: 25px;  
    width: 30px;
     margin-top: 5px;
}
#Pause_Info:hover{
    background-color:   #C0C0C0 ;
    border-radius:5px;
transform: scale(1.2);
}
#Stop_Info{
	display: inline-block;
    background-color: transparent;
    padding: 0;
    margin: 20px;
    vertical-align: top;
 	height: 25px;  
    width: 30px;
     margin-top: 5px;
}
#Stop_Info:hover{
    background-color:   #C0C0C0 ;
    border-radius:5px;
transform: scale(1.2);
}
#Save_Info{
	display: inline-block;
    background-color: transparent;
    padding: 0;
 	margin: 20px;
    vertical-align: top;
 	height: 25px;  
    width: 30px;
     margin-top: 5px;
}
#Save_Info:hover{
    background-color:   #C0C0C0 ;
    border-radius:5px;
transform: scale(1.2);
}
#Edit_Info{
	display: inline-block;
    background-color: transparent;
    padding: 0;
    margin: 20px;
    vertical-align: top;
 	height: 25px;  
    width: 30px;
     margin-top: 5px;
}
#Edit_Info:hover{
    background-color:   #C0C0C0 ;
    border-radius:5px;
transform: scale(1.2);
}
#Sync_Info{
	display: inline-block;
    background-color: transparent;
    padding: 0;
    margin: 20px;
    vertical-align: top;
 	height: 25px;  
    width: 30px;
     margin-top: 5px;
}
#Sync_Info:hover{
    background-color:   #C0C0C0 ;
    border-radius:5px;
transform: scale(1.2);
}
